@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 1110px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 15px 30px;
}

hr {
  border: 1px solid #e4e9f2;
  width: 100%;
}

.header1 {
  display: flex;
  align-items: baseline;
}

.header1 h1 {
  margin-right: 56px;
  font-family: "Kumbh Sans";
  cursor: pointer;
}

.header1 ul {
  display: flex;
  align-items: stretch;
  height: 60px;
}

.header1 ul li {
  margin-right: 32px;
  list-style: none;
  text-transform: capitalize;
  color: #69707d;
  font-family: "Kumbh Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}

.header1 ul li:hover {
  color: #1d2026;
  border-bottom: 4px solid #ff7e1b;
}

.image {
  display: flex;
  position: relative;
}

.badge {
  font-size: 13px;
  color: white;
  font-weight: bold;
  background-color: darkorange;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 15px;
}

.user-photo {
  width: 50px;
  height: 50px;
  margin-left: 46px;
  cursor: pointer;
}

.cart {
  cursor: pointer;
  width: 21.821px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 18px;
}

.drop-cart {
  width: 360px;
  height: 256px;
  background-color: white;
  box-shadow: 0px 20px 50px -20px #1d202680;
  position: absolute;
  top: 70px;
  right: -40px;
  display: none;
}

.body-div {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.photo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 50%;
  height: 200px;
}

.big-photo {
  margin-top: 88px;
  position: relative;
}

.bigPhoto {
  width: 445px;
  height: 445px;
}

.small-photo {
  width: 445px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.text {
  margin-top: 88px;
  height: 565px;
  padding: 50px;
}

.text-sp1 {
  margin-top: 50px;
  color: #ff7e1b;
  font-size: 13px;
  text-transform: uppercase;
}

.text h1 {
  font-size: 44px;
  margin-top: 20px;
}

.text2 {
  font-size: 16px;
  color: #69707d;
  margin-top: 35px;
}

.text3 {
  font-size: 28px;
  margin-top: 30px;
}

.text3 > span {
  padding: 4px 8px;
  font-size: 16px;
  color: #ff7e1b;
  background-color: #ffeee2;
  border-radius: 6px;
}

.text-sp2 {
  font-size: 16px;
  color: #b6bccb;
  text-decoration: line-through;
}

.main-button {
  display: flex;
  margin-top: 40px;
}

.button {
  width: 157px;
  height: 56px;
  background-color: #f6f8fd;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 16px;
}

.button button {
  color: #ff7e1b;
  border-radius: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
  background: none;
  cursor: pointer;
}

.button span {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.add-cart {
  padding: 18px 76px;
  background-color: #ff7e1b;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}

.slide {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.705);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide1 {
  display: none;
}

.slide-btn {
  position: absolute;
  cursor: pointer;
}

.slide-btn:hover {
  color: #ff7e1b;
}
.right-btn {
  right: -30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 45%;
}

.left-btn {
  left: -30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 45%;
}

.exit-btn {
  right: 0;
  top: -40px;
  color: white;
  background: none;
  border: 0;
}
